@page
@model MoneyMCS.Pages.ClientDashboardModel
@{
    Layout = "_AgentLayout";
    ViewData["pageName"] = "ClientDashboard";
    ViewData["Title"] = "Client Dashboard";
}

<div>
    <div class="banner flex flex-col w-full max-w-fit min-w-full grow p-10 justify-center items-center opacity-100  to-gray-700 h-1/4 bg-gray-400" style="background-color: rgba(20, 20, 20, 0.75); background: url(img/2h-media-3q4V539j_bw-unsplash.jpg), linear-gradient(rgba(22, 22, 22, 0.5),rgba(0,0,0,0.75)); background-blend-mode: overlay; background-size: cover; background-attachment: fixed;">
        <h6 class="text-4xl text-white">Client Dashboard</h6>
    </div>

	<!-- component -->
	<!-- This is an example component -->
	<div class="p-5">

		<div class="relative overflow-x-auto sm:rounded-lg">
			<div class="p-4 flex justify-between">
				<label for="table-search" class="sr-only">Search</label>
				<div class="relative mt-1">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
							 xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
								  clip-rule="evenodd"></path>
						</svg>
					</div>
					<input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 " placeholder="Search for items">
				</div>
				<div>
					<a asp-page="/AddClient" type="button" class="py-3 px-3 bg-green-500 hover:bg-green-600 rounded-lg shadow-2xl">Add Client</a>
				</div>
			</div>
			<table class="w-full text-sm text-left text-gray-500">
				<thead class="text-xs text-gray-700 uppercase" style="background-color: #D9D9D9">
					<tr>
						<th scope="col" class="px-6 py-3">
							Company
						</th>
						<th scope="col" class="px-6 py-3">
							First Name
						</th>
						<th scope="col" class="px-6 py-3">
							Last Name
						</th>
						<th scope="col" class="px-6 py-3">
							Email
						</th>
						<th scope="col" class="px-6 py-3">
							Phone
						</th>
						<th scope="col" class="px-6 py-3">
							Date added
						</th>
						<th scope="col" class="px-6 py-3">
							<span class="sr-only">View</span>
						</th>
					</tr>
				</thead>
				<tbody class="text-black">
					@foreach(var client in Model.Clients) {
						<tr class="bg-white border-b" style="background-color: #38B56A">
						
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							@client.Company
						</th>
						<td class="px-6 py-4">
							@client.FirstName
						</td>
						<td class="px-6 py-4">
							@client.LastName
						</td>
						<td class="px-6 py-4">
							@client.Email
						</td>
						<td class="px-6 py-4">
								@client.PhoneNumber
						</td>
						<td>@client.DateAdded</td>
						<td class="px-6 py-4 text-right">
								<a href="#" class="font-medium hover:bg-gray-200 rounded-full p-1"><i class="fas fa-eye"></i></a>
						</td>
					</tr>
					}
					
					
					
				</tbody>
			</table>
		</div>
	</div>
</div>