@page
@model MoneyMCS.Pages.ClientInfoModel
@{
    Layout = "_AgentLayout";
}

<div>
    <div class="banner flex flex-col w-full max-w-fit min-w-full grow p-10 justify-center items-center opacity-100  to-gray-700 h-1/4 bg-gray-400" style="background-color: rgba(20, 20, 20, 0.75); background: url(img/2h-media-3q4V539j_bw-unsplash.jpg), linear-gradient(rgba(22, 22, 22, 0.5),rgba(0,0,0,0.75)); background-blend-mode: overlay; background-size: cover; background-attachment: fixed;">
        <h6 class="text-4xl text-white">Client Information</h6>
    </div>
    <div class="grid grid-cols-2 p-5 m-3 rounded-md bg-white">
        <div>
            <div class="flex p-3">
                <div class="w-1/2 font-lighter">First Name</div>
                <div class="w-1/2">@Model.Client.FirstName</div>
            </div>
            <div class="flex bg-gray-100 p-3">
                <div class="w-1/2">Last Name</div>
                <div class="w-1/2">@Model.Client.LastName</div>
            </div>
            <div class="flex p-3">
                <div class="w-1/2">Email</div>
                <div class="w-1/2">@Model.Client.Email</div>
            </div>
            <div class="flex bg-gray-100 p-3">
                <div class="w-1/2">Phone</div>
                <div class="w-1/2">@Model.Client.PhoneNumber</div>
            </div>
            <div class="flex p-3">
                <div class="w-1/2">Services need</div>
                <div class="w-1/2">@String.Join(", ", Model.Client.Services)</div>
            </div>
            <div class="flex bg-gray-100 p-3">
                <div class="w-1/2">Status</div>
                <div class="w-1/2">Responding</div>
            </div>
            <div>
                <div id="accordion-collapse-business-info" data-accordion="collapse">
                    <h2 id="accordion-collapse-heading-1">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-900 border border-gray-800 rounded-t-xl focus:ring-4 focus:ring-gray-200" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                            <span>Business Credibility</span>
                            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                        <div class="font-light border border-b-0 border-gray-200">
                            <div class="flex p-3">
                                <a asp-page="/BusinessName" asp-route-clientid="@Model.Client.ClientId" class="w-1/2 font-lighter text-indigo-500 hover:text-indigo-600 hover:underline">Business Name</a>
                                <div class="w-1/2">@(Model.Business.Name ?? "Not Set")</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <a asp-page="/BusinessAddress" asp-route-clientid="@Model.Client.ClientId" class="w-1/2 font-lighter text-indigo-500 hover:text-indigo-600 hover:underline">Business Address</a>
                                <div class="w-1/2">@(Model.Address.CompanyAddress ?? "Not Set")</div>
                            </div>
                            <div class="flex p-3">
                                <a asp-page="/BusinessAddress" asp-route-clientid="@Model.Client.ClientId" class="w-1/2 font-lighter text-indigo-500 hover:text-indigo-600 hover:underline">City</a>
                                <div class="w-1/2">@(Model.Address.City ?? "Not Set")</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <a asp-page="/BusinessAddress" asp-route-clientid="@Model.Client.ClientId" class="w-1/2 font-lighter text-indigo-500 hover:text-indigo-600 hover:underline">State</a>
                                <div class="w-1/2">@(Model.Address.State ?? "Not Set")</div>
                            </div>
                            <div class="flex p-3">
                                <a asp-page="/BusinessAddress" asp-route-clientid="@Model.Client.ClientId" class="w-1/2 font-lighter text-indigo-500 hover:text-indigo-600 hover:underline">Business Address Type</a>
                                <div class="w-1/2">@(Model.Address.Type == null ? "Not Set" : Model.Address.Type.ToString())</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <div class="w-1/2">Entity Type</div>
                                <div class="w-1/2">LLC / LLP</div>
                            </div>
                            <div class="flex p-3">
                                <div class="w-1/2 font-lighter">Industry</div>
                                <div class="w-1/2">Other</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <div class="w-1/2">Date Incorporated</div>
                                <div class="w-1/2">September 20, 2022</div>
                            </div>
                            <div class="flex p-3">
                                <div class="w-1/2">Business EIN#</div>
                                <div class="w-1/2">88262551</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <div class="w-1/2">Business Phone</div>
                                <div class="w-1/2">(639) 2312321</div>
                            </div>

                            <div class="flex p-3">
                                <div class="w-1/2">Business Phone Provider</div>
                                <div class="w-1/2">Phone.com</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <div class="w-1/2">Fax</div>
                                <div class="w-1/2">No</div>
                            </div>
                            <div class="flex p-3">
                                <div class="w-1/2">Business Website</div>
                                <div class="w-1/2">Website.com</div>
                            </div>
                            <div class="flex bg-gray-100 p-3">
                                <div class="w-1/2">Business Email</div>
                                <div class="w-1/2">myemailgmail.com</div>
                            </div>
                            <div class="flex p-3">
                                <div class="w-1/2">Business Email</div>
                                <div class="w-1/2">Website.com</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div>
            <div>
                <div id="accordion-collapse-notes" data-accordion="collapse">
                    <h2 id="accordion-collapse-heading-notes">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200" data-accordion-target="#accordion-collapse-body-notes" aria-expanded="true" aria-controls="accordion-collapse-body-notes">
                            <span>Notes</span>
                            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-notes" class="hidden" aria-labelledby="accordion-collapse-heading-notes">
                        <div class="font-light border border-b-0 border-gray-200">
                            <div class="p-3">
                                <button type="button" id="showAddNoteBtn" class="p-3 bg-green-400 hover:bg-green-600 rounded-md text-white" >Add new note</button>
                                <form id="addNoteForm" class="flex flex-col hidden">
                                    <textarea class="w-full">
                                    </textarea>
                                    <div class="mt-2">
                                        <button type="button" class="py-3 px-3 bg-green-500 hover:bg-green-600 rounded-md text-white">Add note</button>
                                        <button type="button" id="closeAddNoteBtn" class="py-3 px-3 ">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <div class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum accusamus illum sit deserunt in rem nulla minima cupiditate reiciendis nostrum id, suscipit nesciunt. Consequatur tempore incidunt maxime in impedit!</div>
                            <div class="p-2 bg-gray-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsum accusamus illum sit deserunt in rem nulla minima cupiditate reiciendis nostrum id, suscipit nesciunt. Consequatur tempore incidunt maxime in impedit!</div>
                         </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script>
        $("#showAddNoteBtn").click(function() {
            $(this).toggle();
            $("#addNoteForm").toggle();
        })
        $("#closeAddNoteBtn").click(function() {
            $("#addNoteForm").toggle();
            $("#showAddNoteBtn").toggle();
        })
    </script>
}