@page
@model MoneyMCS.Pages.ClientDashboardModel
@{
    Layout = "_AgentLayout";
    ViewData["pageName"] = "ClientDashboard";
    ViewData["Title"] = "Client Dashboard";
}

<div>
    <div class="banner flex flex-col w-full max-w-fit min-w-full grow p-10 justify-center items-center opacity-100  to-gray-700 h-1/4 bg-gray-400" style="background-color: rgba(20, 20, 20, 0.75); background: url(img/2h-media-3q4V539j_bw-unsplash.jpg), linear-gradient(rgba(22, 22, 22, 0.5),rgba(0,0,0,0.75)); background-blend-mode: overlay; background-size: cover; background-attachment: fixed;">
        <h6 class="text-4xl text-white">Client Dashboard</h6>
    </div>
	<div class="p-5">

		<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
			<div class="p-4 flex justify-between">
				<label for="table-search" class="sr-only">Search</label>
				<div class="relative mt-1">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
							 xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
								  clip-rule="evenodd"></path>
						</svg>
					</div>
					<input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5 " placeholder="Search for clients">
				</div>
				<div>
					<a asp-page="/AddClient" type="button" class="py-3 px-3 bg-green-500 hover:bg-green-600 rounded-lg shadow-2xl">Add Client</a>
				</div>
			</div>
			<table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6">
                    First Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Last Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Email
                </th>
                <th scope="col" class="py-3 px-6">
                    Date Added
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {

                        <tr class="bg-white border-b">
                            <th class="py-4 px-6">
                                @client.FirstName
                            </th>
                            <td class="py-4 px-6">
                                @client.LastName
                            </td>
                            <td class="py-4 px-6">
                                @client.Email
                            </td>
                            <td class="py-4 px-6">
                                @client.DateAdded.Date.ToShortDateString()
                            </td>
                            <td class="py-4 px-6">
                                <a asp-page="/ClientInfo" asp-route-clientid="@client.ClientId" class="font-medium text-indigo-600 hover:underline">View</a>
                            </td>
                        </tr>
            }
            
            
        </tbody>
    </table>
		</div>
	</div>
</div>