@page
@model MoneyMCS.Pages.ProfileModel
@{
    Layout = "_AgentLayout";
    ViewData["Title"] = "Profile";
}

<div class="max-w-7xl mx-auto py-12 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg my-4">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900"><i class="fa fa-user"></i> Information</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details </p>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Full name</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@($"{Model.UserInfo.FirstName} {Model.UserInfo.FirstName}")</dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Agent Type</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@(Model.UserInfo.AgentType)</dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Email address</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@Model.UserInfo.Email 
                            @if(Model.UserInfo.EmailConfirmed) {
                                <a class="semi-bold text-indigo-500 hover:text-indigo-400" href="#">Activate</a>

                            }
                            
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Date joined</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@Model.UserInfo.CreationDate.Date.ToShortDateString()</dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Subscription Status</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@(Model.UserInfo.Subscribed ? "Active" : "Expired")
                            @if (!Model.UserInfo.Subscribed)
                            {
                                <a class="semi-bold text-indigo-500 hover:text-indigo-400" href="/Membership/Index">Activate</a>

                            }

                        </dd>
                    </div>

                    @*<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Subscription Status</dt>
                        <dd class="mt-1 text-sm  sm:mt-0 sm:col-span-2"><a role="button" href="{% url 'account:password_change' %}" class="text-indigo-500 hover:text-indigo-400 hover:underline">Change password</a></dd>
                    </div>*@

                </dl>
            </div>
        </div>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg my-4">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900"><i class="fas fa-history"></i> Transaction history</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Purchased products</p>
            </div>
            <div class="border-t border-gray-200">
                @foreach (var transaction in Model.SubscriptionHistory)
                {
                    <div class="odd:bg-gray-50 px-4 py-5 sm:gap-4 sm:px-6 border border-transparent border-b-gray-300">
                        <div class="grid grid-cols-3 py-2">
                            <div class="col-span-2">
                                <p class="text-md font-medium text-gray-500">Order ID: <span class="font-normal">@transaction.AppTransactionId</span></p>
                                <p class="text-md font-medium text-gray-500 mb-3">Date: <span class="font-normal">@transaction.Date.Date.ToShortDateString()</span></p>

                            </div>

                        </div>
                        <hr>
                        <div class="grid grid-cols-3 my-3">
                            <div class="col-span-3 md:col-span-1 border border-transparent border-r-gray-300 p-2">
                                <p class="font-medium text-slate-600"><i class="fa fa-address-book"></i> Contact</p>
                                <p class="text-md font-medium text-slate-700">@($"{Model.UserInfo.FirstName} {Model.UserInfo.FirstName}")</p>
                                <p class="font-medium text-gray-500">Email: <span class="font-normal">@Model.UserInfo.Email</span></p>
                            </div>
                            <div class="col-span-3 md:col-span-1 border border-transparent border-r-gray-300 p-2">
                                <p class="font-medium text-slate-600"> <i class="fa fa-scroll"></i> Product</p>
                                <p class="font-medium text-gray-500">Price: <span class="font-normal ">$99.00</span></p>
                                <p class="font-medium text-gray-500">Expiry Date: <span class="font-normal">@transaction.Subscription.EndDate.ToString()</span> </p>
                            </div>
                            <div class="col-span-3 md:col-span-1 p-3">
                                <p class="font-medium text-slate-600"><i class="fab fa-stripe"></i> Payment</p>
                                <p class="font-medium text-gray-500">Payment ID: <span class="font-normal">@transaction.AppTransactionId</span> </p>
                                <p class="font-medium text-gray-500">Full Name: <span class="font-normal">@transaction.Subscription.Payer.FullName</span> </p>
                                <p class="font-medium text-gray-500">Total Paid: <span class="font-normal">$99.00</span> </p>
                            </div>
                        </div>
                    </div>
                }
              
            </div>
        </div>

    </div>
</div>
