@page
@model IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "/";
    ViewData["Title"] = "Dashboard";

}

<main x-data="{ open: false }" class="w-full flex-grow p-6">
    <h1 class="text-3xl text-black pb-6">Dashboard</h1>

    <div class="shadow-lg rounded-lg overflow-hidden">
        <canvas class="p-10" width="500" height="180" id="chartLine"></canvas>
    </div>

    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <i class="fa fa-users mr-3"></i> Pending Agents
        </p>
        <div class="bg-white overflow-auto rounded-md">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Username</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">First Name</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Last name</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Phone number</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Email</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Agent Type</th>
                        <th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Created Date</th>
                        <!--<th class="text-left bg-green-600 py-3 px-4 uppercase font-semibold text-sm">Action</th>-->
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    @foreach (var agent in Model.NotSubscribedAgents)
                    {
                        <tr>
                            <td class="text-left py-3 px-4">@agent.UserName</td>
                            <td class="text-left py-3 px-4">@agent.FirstName</td>
                            <td class="text-left py-3 px-4">@agent.LastName</td>
                            <td class="text-left py-3 px-4">@agent.Email</td>
                            <td class="text-left py-3 px-4">@agent.PhoneNumber</td>
                            <td class="text-left py-3 px-4">@agent.AgentType</td>
                            <td class="text-left py-3 px-4">@agent.CreationDate.Date.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div style=" background-color: rgba(0, 0, 0, 0.8)" class="fixed  z-40 top-0 right-0 left-0 bottom-0 h-full w-full"
        x-show="open" x-transition>
        <div class="p-4 max-w-xl mx-auto relative absolute left-0 right-0 overflow-hidden mt-24">
            <div x-on:click="open = ! open"
                class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer">
                <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                </svg>
            </div>

            <div class="shadow w-full rounded-lg bg-white overflow-hidden w-full block p-8">

                <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Are you sure you want to add this agent?
                </h2>


                <div class="mt-8 text-right">
                    <button x-on:click="open = ! open" type="button"
                        class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded-lg shadow-sm mr-2">
                        Cancel
                    </button>
                    <button type="button"
                        class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm"
                        @@click="addEvent()">
                        Yes, add this agent
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chart line -->
    <script>
        const labels = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Agents Registered and Subscribed",
                    backgroundColor: "hsl(252, 82.9%, 67.8%)",
                    borderColor: "hsl(252, 82.9%, 67.8%)",
                    data: [0, 10, 5, 2, 20, 30, 45, 15, 23, 8, 3, 23],
                },
            ],
        };

        const configLineChart = {
            type: "line",
            data,
            options: {},
        };

        var chartLine = new Chart(
            document.getElementById("chartLine"),
            configLineChart
        );
    </script>
}