@page "{id}"
@model MoneyMCS.Pages.Member.Agents.DownlineModel
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Agents";
}

<main class="w-full flex-grow p-6">
    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-user-edit"></i> Agent Downline
        </p>
        <div class="tf-tree tf-gap-lg tf-custom flex justify-center">
            <ul>
                <li>
                    <span class="tf-nc">
                        <img class="downlineImagePos" src="~/img/agent.png" />
                        <p class="text-center mx-auto">@Model.Agent.UserName</p>
                    </span>
                    @if(Model.DirectAgents.Count > 0) {
                        <ul>
                            @foreach (var directAgent in Model.DirectAgents)
                            {
                                <li>
                                    <span class="tf-nc">
                                        <a asp-page="/Member/Agents/Downline" asp-route-id="@directAgent.Id">

                                            <div style="flex flex-col justify-center">
                                                <img class="downlineImagePos" src="~/img/agent.png" />
                                            <span class="display:block">@directAgent.UserName</span>
                                            </div>
                                            
                                        </a>
                                    </span>
                                    @if (Model.LevelTwoAReferredAgents.ContainsKey(directAgent.Id) && Model.LevelTwoAReferredAgents[directAgent.Id].Count > 0)
                                    {
                                        <ul>
                                            @foreach (var levelTwoAgent in Model.LevelTwoAReferredAgents[directAgent.Id])
                                            {
                                                <li>
                                                    <span class="tf-nc">
                                                        <a asp-page="/Member/Agents/Downline" asp-route-id="@directAgent.Id">

                                                            <div style="flex flex-col justify-center">
                                                                <img class="downlineImagePos" src="~/img/agent.png" />
                                                                <span class="display:block">@levelTwoAgent.UserName</span>
                                                                </div>
                                                        </a>

                                                    </span>
                                                    @if (Model.LevelThreeReferredAgents.ContainsKey(levelTwoAgent.Id) && Model.LevelThreeReferredAgents[levelTwoAgent.Id].Count > 0)
                                                    {
                                                        <ul>

                                                            @foreach (var levelThreeAgent in Model.LevelThreeReferredAgents[levelTwoAgent.Id])
                                                            {
                                                                <li>
                                                                    <a asp-page="/Member/Agents/Downline" asp-route-id="@directAgent.Id">

                                                                        <div style="flex flex-col justify-center">
                                                                            <img class="downlineImagePos" src="~/img/agent.png" />
                                                                            <span class="display:block">@levelThreeAgent.UserName</span>
                                                                            </div>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>

                                                    }
                                                </li>
                                            }
                                        </ul>

                                    }
                                </li>

                            }
                        </ul>
                    }
                    
                </li>
            </ul>
        </div>
    </div>
</main>
