@page
@model IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Agents";
    ViewData["Title"] = "Agents";
}
<main class="w-full flex-grow p-6">
    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i> Agents
        </p>
        <form class="w-full my-6 pr-0">
            <div class="w-100 bg-green-600">
                <p class="text-white text-center font-bold">Search Filter</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 my-2 gap-4">
                <div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.Username" class="text-gray-700"></label>
                        <input asp-for="Input.Username" class="px-3 py-1 bg-gray-200 text-gray-900 rounded-md" />
                    </div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.FirstName" class="text-gray-700"></label>
                        <input asp-for="Input.FirstName" class="px-3 py-1 bg-gray-200 text-gray-900 rounded-md" />
                    </div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.LastName" class="text-gray-700"></label>
                        <input asp-for="Input.LastName" class="px-3 py-1 bg-gray-200 text-gray-900 rounded-md" />
                    </div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.Email" class="text-gray-700"></label>
                        <input asp-for="Input.Email" class="px-3 py-1 bg-gray-200 text-gray-900 rounded-md" />
                    </div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.PhoneNumber" class="text-gray-700"></label>
                        <input asp-for="Input.PhoneNumber" class="px-3 py-1 bg-gray-200 text-gray-900 rounded-md" />
                    </div>

                </div>
                <div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.AgentType" class="text-gray-700"></label>
                        <select asp-for="Input.AgentType" asp-items="Model.AgentTypeSelect"
                                class="bg-gray-100 border py-1 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 ">
                        </select>
                    </div>
                    <div class="flex justify-between my-1">
                        <label asp-for="Input.ReferrerId" class="text-gray-700"></label>
                        <select asp-for="Input.ReferrerId" asp-items="Model.AgentsSelect"
                                class="bg-gray-100 border py-1 border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 ">
                        </select>
                    </div>

                </div>
            </div>
            <div class="w-100 flex justify-center p-1">
                <button type="submit" class="bg-gray-300 rounded-md hover:bg-gray-400 px-2 py-1 text-sm mr-1">
                    <i class="fas fa-search"></i> Search
                </button>
                <button id="clearBtn" type="button" class="bg-gray-300 rounded-md hover:bg-gray-400 px-2 py-1 text-sm">
                    <i class="fas fa-undo"></i> Reset
                </button>
            </div>
        </form>
        <div class="flex justify-end my-3 md:my-2">
            <a asp-page="/Member/Agents/Add" role="button"
                class="bg-gray-300 rounded-md hover:bg-gray-400 px-2 py-1 text-sm font-medium"><i
                    class="fas fa-user-plus"></i> Add new agent</a>
        </div>
        <div class="bg-white overflow-auto rounded-md">
            <table id="agentsList" class="text-left w-full border-collapse ">
                <thead>
                    <tr>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Username
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Agent Type
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            First Name
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Last Name
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Phone
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Email
                        </th>
                        <th class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Referrer
                        </th>

                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Created Date
                        </th>
                        <th class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Downlines
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Edit
                        </th>
                        <th
                            class="py-4 px-6 bg-green-600 font-bold uppercase text-sm text-white border-b border-grey-light">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model.Agents) {
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light">@user.UserName</td>
                            <td class="py-4 px-6 border-b border-grey-light">@user.AgentType</td>
                            <td class="py-4 px-6 border-b border-grey-light">@user.FirstName</td>
                            <td class="py-4 px-6 border-b border-grey-light">@user.LastName</td>
                            <td class="py-4 px-6 border-b border-grey-light">@user.PhoneNumber</td>
                            <td class="py-4 px-6 border-b border-grey-light">@user.Email</td>
                            <td class="py-4 px-6 border-b border-grey-light">@(user.Referrer != null ? user.Referrer.UserName : "") </td>

                            <td class="py-4 px-6 border-b border-grey-light">05/23/12</td>
                            <td class="p-0 text-center px-6 border-b border-grey-light">
                                <a asp-page="/Member/Agents/Downline" asp-route-id="@user.Id"><i class="fas fa-eye"></i></a>
                            </td>
                            <td class="p-0 text-center px-6 border-b border-grey-light">
                                <a asp-page="/Member/Agents/EditProfile" asp-route-id="@user.Id"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td class="p-0 text-center py-4 px-6 border-b border-grey-light">
                                <button data-id="@user.Id" class="deleteBtn" aria-hidden="true"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                   
                </tbody>
            </table>
            <div class="bg-white px-4 py-3 flex items-center justify-between sm:px-6">
                <div class="flex-1 flex justify-between sm:hidden">
                    <a href="#"
                        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Previous
                    </a>
                    <a href="#"
                        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Next
                    </a>
                </div>
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">1</span>
                            to
                            <span class="font-medium">10</span>
                            of
                            <span class="font-medium">97</span>
                            results
                        </p>
                    </div>
                    <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                            <a href="#"
                                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Previous</span>
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                            <a href="#" aria-current="page"
                                class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                                1
                            </a>
                            <a href="#"
                                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                                2
                            </a>
                            <a href="#"
                                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium">
                                3
                            </a>
                            <span
                                class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">
                                ...
                            </span>
                            <a href="#"
                                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium">
                                8
                            </a>
                            <a href="#"
                                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                                9
                            </a>
                            <a href="#"
                                class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                                10
                            </a>
                            <a href="#"
                                class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Next</span>
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div style=" background-color: rgba(0, 0, 0, 0.8)" x-data="{ open: false }" class="fixed  z-40 top-0 right-0 left-0 bottom-0 h-full w-full"
     x-show="open" id="deleteModal" transition>
    <div class="p-4 max-w-xl mx-auto relative absolute left-0 right-0 overflow-hidden mt-24">
        <div x-on:click="open = ! open"
             class="shadow absolute right-0 top-0 w-10 h-10 rounded-full bg-white text-gray-500 hover:text-gray-800 inline-flex items-center justify-center cursor-pointer">
            <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
            </svg>
        </div>

        <div class="shadow w-full rounded-lg bg-white overflow-hidden w-full block p-8">

            <h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">
                Are you sure you want to remove this agent?
            </h2>


            <form id="deleteForm" asp-page="/Member/Agents/Index" asp-page-handler="Delete" method="post">
                <button x-on:click="open = ! open" type="button"
                        class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 border border-gray-300 rounded-lg shadow-sm mr-2">
                    Cancel
                </button>
   
                <input type="hidden" name="toDeleteUserId" id="toDeleteUserId" />
                <button type="submit" id="confirmDeleteBtn" class="bg-gray-800 hover:bg-gray-700 disabled:bg-gray-600 text-white font-semibold py-2 px-4 border border-gray-700 rounded-lg shadow-sm">
                        Yes, remove this agent
                    </button>
          
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".deleteBtn").click(function() {
            const userId = $(this).data("id")
            $("#deleteForm #toDeleteUserId").val(userId);
            $("#deleteModal").show();
            
        })
        $("#deleteForm").submit(function() {
            $("#confirmDeleteBtn").prop("disabled", true);
        })
    </script>

    <script>
        $("#clearBtn").click(function () {
            console.log("clicked");
            $('form input[type="text"]').each(function (i, e) {
                $(e).val("");
            })

            $('form select').val("")
        })

    </script>
}

