<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
        .round {width: 200px; height: 170px; border-radius: 100%; background-color: white;}

        ./*tf-custom .tf-nc {
            height: 6em;
            width: 4em;
            padding: 0;
            border: none;
        }


            .tf-custom .tf-nc:before,
            .tf-custom .tf-nc:after {
                border-left-color: dodgerblue;
                border-left-width: 2px;
            }

        .tf-custom li li:before {
            border-top-color: dodgerblue;
            border-top-width: 2px;
        }*/

        .dashboard-card {
            font-family: 'Poppins', sans-serif;
        }

    </style>
</head>
    <body class="font-family-karla flex">
        <aside class="relative bg-green-600 h-screen w-64 hidden sm:block shadow-xl">
            <div class="p-6 text-center">
                <div class="round">
                    <img class="object-cover" src="~/img/logo.png" />
                </div>
                <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                    <i class="fas fa-plus mr-3"></i> Test Button
                </button>
            </div>
            <nav class="text-white text-base font-semibold pt-3">
                <a asp-page="/Member/Index" class="flex items-center @(ViewData["pageName"] == "/" ? "bg-green-500" : "") text-white hover:bg-green-500 py-4 pl-6">
                    <i class="fas fa-tachometer-alt mr-3"></i>
                    Dashboard
                </a>
                <a asp-page="/Member/Agents/Index" class="flex items-center @(ViewData["pageName"] == "Agents" ? "bg-green-500" : "") text-white hover:bg-green-500 py-4 pl-6"> 
                    <i class="fas fa-table mr-3"></i>
                    Agents
                </a>
            <a href="/Member/Accounts/Index" class="flex items-center @(ViewData["pageName"] == "Accounts" ? "bg-green-500" : "") text-white hover:bg-green-500 py-4 pl-6">
                    <i class="fas fa-user-friends mr-3"></i>
                    Accounts
                </a>
                
                <a asp-page="/Member/Resources/Index" class="flex items-center @(ViewData["pageName"] == "Resources" ? "bg-green-500" : "") text-white hover:bg-green-500 py-4 pl-6">
                    <i class="fas fa-folder-open mr-3"></i>
                    Resources
                </a>
                
                <a asp-page="/Member/Clients/Index" class="flex items-center @(ViewData["pageName"] == "Clients" ? "bg-green-500" : "") text-white hover:bg-green-500 py-4 pl-6">
                    <i class="fas fa-users mr-3"></i>
                    Clients
                </a>
                <a asp-page="/Member/Logout" class="flex items-center bg-red-500 hover:bg-red-600 text-white py-4 pl-6">
                <i class="fas fa-sign-out-alt mr-3"></i>
                    Log out
                </a>
               
               
            </nav>
        </aside>
        <div class="w-full flex flex-col h-screen overflow-y-hidden">
            <!--<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
                <div class="w-1/2"></div>
                <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
                    <button @@click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                        <img src="~/img/maleavatar.jpg">
                    </button>
                    <button x-show="isOpen" @@click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
                    <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Account</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
                    </div>
                </div>
            </header>-->
            <header x-data="{ isOpen: false }" class="w-full bg-green-600 py-5 px-6 sm:hidden">
                <div class="flex items-center justify-between">
                    <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
                    <button @@click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                        <i x-show="!isOpen" class="fas fa-bars"></i>
                        <i x-show="isOpen" class="fas fa-times"></i>
                    </button>
                </div>
            <!-- Dropdown Nav -->
                <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
                <a asp-page="/Agents/Member/Index" class="flex items-center @(ViewData["pageName"] == "/" ? "bg-green-500" : "") text-white py-2 pl-4 nav-item">
                    <i class="fas fa-tachometer-alt mr-3"></i>
                        Dashboard
                    </a>
                    <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-table mr-3"></i>
                        Agents
                    </a>
                    <a href="blank.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sticky-note mr-3"></i>
                        Accounts
                    </a>
                    
                    <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-align-left mr-3"></i>
                        Resources
                    </a>
                    <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-tablet-alt mr-3"></i>
                        Clients
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-user mr-3"></i>
                        My Account
                    </a>
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                        <i class="fas fa-sign-out-alt mr-3"></i>
                        Sign Out
                    </a>
                    <button class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                        <i class="fas fa-arrow-circle-up mr-3"></i> Test Button
                    </button>
                </nav>
            <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> New Report
            </button> -->
            </header>
            <div class="w-full overflow-x-hidden border-t flex flex-col bg-gray-100 h-full">
                @RenderBody()
            </div>
        </div>
    <script src="~/js/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)

    </body>
</html>
